.triangolo {
    width: 20vw;
    height: 20vh;
    background-color: rgb(255, 0, 0);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: flex;
   
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Opcional: define a largura da imagem */
}




.triangolo img {
    max-width: 50%;
    height: auto;
    padding-bottom: 20px;
}